<div class="container mt-5">
  <div class="row">
    <div class="col-sm-8">
      <mat-card>
        <mat-card-header>Your Payment was Successful</mat-card-header>
        <mat-card-subtitle>Thank you very much!</mat-card-subtitle>
        <mat-card-content>
          <p>Your booking has been sent to the DJ</p>
          <P>Please check booking in View events to see the status</P>
        </mat-card-content>
        <mat-card-actions>
          <button class="btn btn-primary" mat-button [routerLink]="['']">
            Home
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
