.card-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.mat-card {
  flex: 1 1 33%;
  max-width: 300px; /*  <--- adjust this width to suit */
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
