<div class="container mt-5">
  <div class="row">
    <div class="card-container">
      <mat-card *ngFor="let eventDisplay of eventDisplays">
        <mat-card-header>
          <mat-card-title>Date and Time</mat-card-title>
          <mat-card-subtitle>{{
            eventDisplay.dateTimeOfEvent | date: "short"
          }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Address: {{ eventDisplay.eventAddress }} {{ eventDisplay.postcode }}
          </p>
          <p>Length of Event: {{ eventDisplay.lengthOfEvent }} hours</p>
          <p>Event Live: {{ eventDisplay.eventStatus }}</p>
          <p>
            Date Created: {{ eventDisplay.dateCreated | date: "shortDate" }}
          </p>
          <p>Total Cost: £{{ eventDisplay.totalCost }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-button
            [routerLink]="['/view-event-booking', 'eventDisplay.eventId']"
          >
            View Booking
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
