<div class="container mt-5">
  <div class="genreSelect">
    <mat-form-field>
      <mat-label>Genre</mat-label>
      <mat-select
        name="genre"
        [(value)]="selected"
        (selectionChange)="genreChanged($event)"
      >
        <mat-option *ngFor="let genre of genres" [value]="genre.toString()">
          {{ genre.valueOf() }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="card-container" *ngFor="let dj of djsToDisplay">
      <mat-card *ngIf="dj.genre as selected">
        <mat-card-header>
          <mat-card-title>{{ dj.djName }}</mat-card-title>
          <mat-card-subtitle>{{ dj.genre }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-mat-card-sm-image
          src="assets/_images/33080315618_9ed10331c6_q.jpg"
          alt="Who's On The Decks!!"
        />
        <mat-card-content>
          <p>Equipment Required: {{ dj.equipment }}</p>
          <p>Hourly Rate: {{ dj.hourlyRate | currency: "£" }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="btn btn-primary"
            mat-button
            (click)="addEvent(dj.djId)"
          >
            Select DJ
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
