<form #makePaymentForm="ngForm">
  <h2 class="text-center text-primary">Payment</h2>
  <hr />

  <div class="form-container">
    <div class="form-group">
      <h3>Total Amount Due: {{ totalPayment | currency: "£" }}</h3>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        required
        name="cardNumber"
        [(ngModel)]="cardDetails.cardNumber"
        placeholder="Card Number"
      />
    </div>

    <div class="form-container">
      <div class="form-group">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="dp2"
            [min]="minDate"
            [max]="maxDate"
            class="form-control"
            (click)="openDatePicker(dp2)"
          />
          <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
          <mat-datepicker
            #dp2
            startView="multi-year"
            required
            name="expiryDate"
            [(ngModel)]="cardDetails.expiryDate"
            placeholder="Choose a date"
            (monthSelected)="closeDatePicker($event, dp2)"
          ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        required
        name="securityCode"
        [(ngModel)]="cardDetails.securityCode"
        placeholder="Security Code"
      />
    </div>

    <div class="form-group button-container text-center">
      <button
        class="btn btn-danger"
        [routerLink]="['/confirm-events']"
        mat-button
      >
        Cancel
      </button>
      <button
        [disabled]="!makePaymentForm.valid"
        class="btn btn-success"
        (click)="makePayment()"
        mat-button
      >
        Pay Now
      </button>
    </div>
  </div>
</form>
