<form #makePaymentForm="ngForm">
  <h2 class="text-center text-primary">Payment</h2>
  <hr />

  <div class="form-container">
    <div class="form-group">
      <h3>Total Amount Due: {{ totalPayment | currency: "£" }}</h3>
    </div>

    <div class="form-group">
      <input
        type="number"
        class="form-control"
        required
        name="cardNumber"
        [(ngModel)]="cardDetails.cardNumber"
        placeholder="Card Number"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        required
        name="expiryDate"
        [(ngModel)]="cardDetails.expiryDate"
        placeholder="Expiry Date"
      />
    </div>

    <div class="form-group">
      <input
        type="number"
        class="form-control"
        required
        name="securityCode"
        [(ngModel)]="cardDetails.securityCode"
        placeholder="Security Code"
      />
    </div>

    <div class="form-group button-container text-center">
      <button
        class="btn btn-danger"
        type="button"
        [routerLink]="['/confirm-events']"
      >
        Cancel
      </button>
      <button
        [disabled]="!makePaymentForm.valid"
        class="btn btn-success"
        type="submit"
        (click)="makePayment()"
      >
        Pay Now
      </button>
    </div>
  </div>
</form>
