<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <mat-card>
        <img
          mat-card-mat-card-sm-image
          src="assets/_images/33080315618_9ed10331c6_q.jpg"
          alt="Who's On The Decks!!"
        />
      </mat-card>
      <mat-card>
        <mat-card-title>{{ dj ? dj.djName : "" }}</mat-card-title>
        <mat-card-subtitle>{{ dj ? dj.genre : "" }}</mat-card-subtitle>
      </mat-card>
    </div>
    <div class="col-sm-8">
      <mat-card>
        <mat-card-content>
          <p>Equipment Required: {{ dj ? dj.equipment : "" }}</p>
          <p>Hourly Rate: {{ dj?.hourlyRate | currency: "£" }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button
            class="btn btn-danger"
            mat-button
            [routerLink]="['/view-events']"
          >
            Back
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
