<form #createEventForm="ngForm">
  <h2 class="text-center text-primary">Create An Event</h2>
  <hr />

  <div class="form-container">
    <div class="form-group">
      <mat-form-field>
        <input
          #dateTimeOfEvent
          matInput
          type="datetime-local"
          required
          name="dateTimeOfEvent"
          [(ngModel)]="evNew.dateTimeOfEvent"
          placeholder="Choose a date"
          (change)="handleDateChange($event)"
        />
      </mat-form-field>
      <div>
        <p *ngIf="!validDate">
          Please enter a date and time from tomorrow onwards.
        </p>
      </div>
    </div>

    <div class="form-group">
      <input
        type="number"
        class="form-control"
        required
        name="lengthOfEvent"
        [(ngModel)]="evNew.lengthOfEvent"
        placeholder="Length Of Event in Hours"
        [min]="minLength"
        [max]="maxLength"
        #length="ngModel"
        [pattern]="lengthPattern"
      />
    </div>
    <div *ngIf="length.errors && !isValidFormSubmitted" [ngClass]="'error'">
      <div *ngIf="length.errors.pattern">
        length is not valid. Please enter between 1 and 9 hours
      </div>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        required
        name="eventAddress"
        [(ngModel)]="evNew.eventAddress"
        placeholder="Address"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        required
        name="postcode"
        [(ngModel)]="evNew.postcode"
        placeholder="Postcode"
        #postcode="ngModel"
        [pattern]="postcodePattern"
      />
    </div>
    <div *ngIf="postcode.errors && !isValidFormSubmitted" [ngClass]="'error'">
      <div *ngIf="postcode.errors.pattern">
        Postcode is not valid.
      </div>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-danger" type="button" (click)="cancel()">
        Cancel
      </button>
      <button
        [disabled]="!validDate"
        class="btn btn-success"
        type="submit"
        (click)="onFormSubmit(createEventForm)"
      >
        Select a DJ
      </button>
    </div>
  </div>
</form>
